/* 

Färger:
mörk/svart: 1B262C
mörkblå: 0F4C75
ljusblå: 3282B8
vit/blå: BBE1FA
vit: ffff

Grå:
#eee
#ddd

*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px 0px 32px;
    border-bottom: 2px solid hsl(0, 0%, 90%);
    box-shadow: 0px 16px 32px 8px rgba(0, 0, 0, 0.05);
}

.button-container {
    height: 100%;
    width: 13rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}

.signin-signout-favorites-btn {
    display: inline-block;
    font-size: 15px;
    padding: 8px 16px;
    background-color: #3282b8;
    color: #ffff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.signin-signout-favorites-btn:hover {
    background-color: #0f4c75;
    border-color: rgb(160, 200, 255); /* Ändra kantlinjens färg vid hover */
}
