#suggestion-list {
    list-style: none;
    line-height: 24px;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 25rem;
    padding: 16px;
    background: white;
    position: absolute;
    top: 59px;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 10px;
}
.suggestion {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddcdc;
}
.suggestion:hover {
    color: rgb(72, 113, 127);
    cursor: pointer;
    background-color: #efefef;
}
