* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
    height: 48px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid hsl(0, 0%, 90%);
    box-shadow: 0px 16px 32px 8px rgba(0, 0, 0, 0.05);
}
#search-container {
    display: flex;
    align-items: center;
    width: 25rem;
}
#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 25px;
    background: transparent;
    border: none;
}
input {
    font-size: 16px;
    width: 20rem;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 50%);
}
input:focus {
    outline: none;
}
/*  */

/* Main */

/*  */

main {
    background-color: #f4f2ee;
    padding-top: 16px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 7rem;
    width: 90%;
    background-color: #ffff;
    border-radius: 8px;
    border: 2px solid hsl(0, 0%, 90%);
    box-shadow: 0px 16px 32px 8px rgba(0, 0, 0, 0.05);
}
.job-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.job-role-text {
    margin-left: 16px;
}

.job-info-text {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
}

.logo {
    padding-left: 0.5rem;
    padding-right: 1rem;
    width: 5rem;
}

.company-logo-container {
    width: 6rem;
}
/*  */

/* Footer */

/*  */

footer {
    height: 4rem;
    background-color: #ffff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 2px solid hsl(0, 0%, 90%);
    box-shadow: 0px 16px 32px 8px rgba(0, 0, 0, 0.1);
}
