/* 

Färger:
mörk/svart: 1B262C
mörkblå: 0F4C75
ljusblå: 3282B8
vit/blå: BBE1FA
vit: ffff

Grå:
#eee
#ddd

*/

.job-chaser-logo {
    width: 90px;
    height: 90px;
    fill: #ff0000; /* Ändra färgen här */
}

.job-chaser-logo .logo-group path {
    fill: #0f4c75; /* Byt ut 'red' mot den önskade färgkoden */
}
